.member-item {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        padding: .5rem .75rem;
        border-radius: .5rem;
        background-color: var(--background-color-100);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;

        &__left {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        &__picture {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--background-color-200);

            i {
                font-size: .625rem;
                color: var(--background-color-500);
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            line-height: 1.325;
        }

        &__name {
            font-size: .875rem;
            font-weight: 600;
            color: var(--background-color-700);
        }

        &__email {
            font-size: .625rem;
            color: var(--p-text-muted-color);
        }
    }

    &__footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: .5rem;

        &__role {
            &__badge {
                font-size: .625rem;
                font-weight: 600;
                padding: .125rem .5rem;
                border-radius: 1rem;
                background-color: var(--background-color-200);
                color: var(--background-color-600);
            }
        }

        &__date {
            font-size: .625rem;
            color: var(--background-color-400);
        }
    }
}
