.page-table {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__table-toolbar {
            padding: 0 1rem;
        }

        &__grid {
            padding: 0 1rem;
        }
    }

    &__card {
        height: 150px;
        border-radius: 0.5rem;
        background-color: var(--background-color-200);
    }
}