.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 4rem 2rem;
    width: 100%;

    &__icon {
        font-size: 2rem;
        color: var(--p-text-muted-color);
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: 0.875rem;
        font-weight: 600;
        color: var(--text-color);
    }

    &__description {
        font-size: 0.8125rem;
        color: var(--p-text-muted-color);
        text-align: center;
    }
}
