<div class="header-wrapper">
    <div class="header-wrapper__left">
        <p-button icon="fa-jelly-fill fa-regular fa-sidebar" size="small" severity="secondary" text rounded />
        <p-divider layout="vertical" />
        <p-breadcrumb [model]="breadcrumbs()" />
    </div>
    <div class="header-wrapper__center">
    </div>
    <div class="header-wrapper__right">
        <p-button icon="fa-jelly-fill fa-regular fa-user" [label]="userName()" size="small" severity="secondary" text rounded />
        <p-divider layout="vertical" />
        <div class="header-wrapper__actions">
            <p-button icon="fa-jelly-fill fa-regular fa-bell" size="small" severity="secondary" text rounded />
            <p-button icon="fa-jelly-fill fa-regular fa-arrow-right-from-bracket" size="small" severity="secondary" text
                rounded (onClick)="logout()" />
        </div>
    </div>
</div>