.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    &__left,
    &__right,
    &__actions {
        display: flex;
        align-items: center;
    }

    &__actions {
        gap: .5rem;
    }
}