.navigation-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.625rem 1rem;
    text-decoration: none;
    color: var(--p-text-muted-color);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        background-color: var(--background-color-100);
        color: var(--text-color);
    }

    &--active {
        background-color: var(--primary-color-100);
        color: var(--primary-color-500);

        &:hover {
            background-color: var(--primary-color-200);
            color: var(--primary-color-600);
        }
    }

    &__icon {
        font-size: .75rem;
        width: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__label {
        font-size: .75rem;
        font-weight: 500;
    }
}
