.header-page {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1.5rem;
    padding: 0 2rem;
}

.page-title {
    font-size: 1.75rem;
    font-weight: bold;
}

.page-subtitle {
    font-size: .875rem;
    color: var(--p-text-muted-color);
}