.navigation-menu {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &__title {
        font-size: .625rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: var(--text-color-secondary);
        padding: 0.5rem 1rem 0.25rem;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
    }
}
