:host {
    --node-bg: var(--background-color-50);
    --node-radius: 1rem;
    --port-size: 10px;
    --port-hitbox: 32px;
    --icon-size: 32px;
}

.node__container {
    position: relative;
    width: max-content;

    &:hover .port-connected {
        opacity: 1;
        pointer-events: auto;
    }
}

.node__wrapper {
    background-color: var(--node-bg);
    border-radius: var(--node-radius);
    padding: 12px 18px 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: box-shadow 0.2s, outline 0.1s;

    &.focused {
        outline: 2px solid var(--background-color-300);
    }

    &.new {
        background-color: var(--background-color-300);

        .node__name {
            color: var(--p-text-muted-color);
        }

        .node__icon {
            background: rgba(255, 255, 255, 0.2);
            color: var(--p-text-muted-color);
        }
    }
}

.node__header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.new .node__header {
    gap: 0;
}

.node__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 8px;
    background-color: var(--background-color-200);
    color: var(--p-surface-800);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 14px;
    }
}

.node__name {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--p-text-color);
    white-space: nowrap;
    line-height: 1;

    display: flex;
    flex-direction: column;
    gap: .25rem;

    line-height: 1;

    .node__subname {
        font-weight: 400;
        font-size: 0.75rem;
        color: var(--p-text-muted-color);

        display: flex;
        align-items: center;
        gap: .5rem;

        .node__tag {
            background-color: var(--background-color-200);
            color: var(--p-text-muted-color);
            padding: 2px 6px;
            border-radius: 40px;
            font-size: 0.5rem;
            font-weight: 500;
        }
    }
}

.node__body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 140px;
}

.node__row {
    position: relative;
    display: flex;
    align-items: center;
}

.node__label {
    flex: 1;
    background-color: var(--background-color-100);
    color: var(--p-text-muted-color);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.8rem;
    text-align: end;
    font-weight: 500;
}

.port {
    width: var(--port-size);
    height: var(--port-size);
    border-radius: 50%;
    background-color: var(--node-bg);
    box-shadow: 0 0 0 2px var(--background-color-200);
    cursor: pointer;
    z-index: 10;
    transition: transform .1s, box-shadow .2s;

    &:hover {
        box-shadow: 0 0 0 3px var(--background-color-200);
        transform: scale(1.4);
    }

    &.port-connected {
        background-color: var(--background-color-300);
        opacity: 0;
        pointer-events: none;
    }
}

.ports-wrapper {
    position: absolute;
    display: flex;
    gap: 24px;

    align-items: center;
    justify-content: center;
}

.inputs-centered {
    top: 0;
    bottom: 0;
    left: calc(var(--port-size) / -2);
    flex-direction: column;
}

.outputs-centered {
    top: 0;
    bottom: 0;
    right: calc(var(--port-size) / -2);
    flex-direction: column;
}

.entries-centered {
    bottom: calc(var(--port-size) / -2);
    left: 0;
    right: 0;
    flex-direction: row;
}

.exits-centered {
    top: calc(var(--port-size) / -2);
    left: 0;
    right: 0;
    flex-direction: row;
}

.node__row .output-port {
    position: absolute;
    right: calc(var(--port-size) / -2 - 18px);
}

:host(.io-hidden) {

    .inputs-centered,
    .outputs-centered,
    .node__body .output-port {
        display: none;
    }
}

:host(.exit-hidden) {
    .exits-centered {
        display: none;
    }
}
