.organization-item {
    &__header {
        &__name {
            font-size: .875rem;
            font-weight: 600;
            color: var(--background-color-700);
        }
    }

    &__description {
        min-height: 17.75px;
        font-size: .75rem;
        color: var(--background-color-600);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
