<div class="context-selector">
    <div class="context-selector__picture">
        <i class="fa-solid fa-jelly-fill" [class.fa-user]="isPersonal()" [class.fa-users]="!isPersonal()"></i>
    </div>
    <div class="context-selector__names">
        <span class="context-selector__name">{{ name() }}</span>
        @if (holdingName()) {
            <span class="context-selector__holding">{{ holdingName() }}</span>
        }
    </div>
    <i class="fa-solid fa-angles-up-down context-selector__carets"></i>
</div>
