.context-selector {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: .875rem;
    cursor: pointer;
    transition: background-color 0.15s ease;

    &:hover {
        background-color: var(--background-color-100);
    }

    &__picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color-200);
        flex-shrink: 0;

        i {
            font-size: 0.625rem;
            color: var(--background-color-500);
        }
    }

    &__names {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        line-height: 1.2;
    }

    &__name {
        font-size: 0.75rem;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__holding {
        font-size: 0.625rem;
        color: var(--p-text-muted-color);
    }

    &__carets {
        font-size: 0.625rem;
        color: var(--p-text-muted-color);
        line-height: 0.625rem;
    }
}
