<div class="context-switcher-container">
    <div class="context-switcher-wrapper">
        <div class="form-switcher">
            <div class="form-title">Quelle organisation souhaitez-vous utiliser ?</div>
            <div class="contexts-group">
                @for (org of organizations(); track org.id) {
                    <app-context-item [organization]="org" (select)="onSelectOrganization($event)" />
                }
            </div>
            <div class="form-search" *ngIf="organizations().length > 5">
                <input type="text" placeholder="Rechercher une organisation..." />
            </div>
        </div>
    </div>
    <div class="stop-ask-wrapper">
        Ne plus afficher cet écran ? <p-toggle-switch [(ngModel)]="stopAsking" />
    </div>
</div>