.context-switcher-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 3rem;
}

.stop-ask-wrapper {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    color: var(--p-text-muted-color);
}

.context-switcher-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-switcher {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-switcher .form-title {
    font-size: 1rem;
    font-weight: 600;
}

.form-switcher .form-search {
    width: 256px;

    input {
        text-align: center;
        width: fit-content;
        border: none;
        border-bottom: 1px solid var(--surface-border);
        outline: none;
        width: 100%;
        padding: .75rem 1rem;
        font-size: .875rem;
        font-weight: 600;
        color: var(--background-color-600);
        font-family: inherit;
        background-color: transparent;
    }
}

.form-switcher .contexts-group {
    display: flex;
    gap: 1.5rem;
    min-height: 136.75px;
}

.context-item-overflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    &__picture {
        height: 96px;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color-200);

        span {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--background-color-500);
        }
    }
}