.menu-item {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    padding: 0.625rem 1.25rem;
    color: var(--p-text-muted-color);
    text-decoration: none;
    transition: background-color 0.05s ease, color 0.1s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--background-color-100);
        color: var(--p-text-color);
    }

    &.active {
        background-color: var(--primary-color-100);
        color: var(--primary-color-700);

        .menu-item__icon {
            color: var(--primary-color-600);
        }
    }

    &__icon {
        font-size: .875rem;
        text-align: center;
    }

    &__label {
        font-size: 0.75rem;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
