@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "primeicons/primeicons.css";

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ::after,
  ::before {
    box-sizing: inherit;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: normal;
  color: var(--p-text-color, red);
  background-color: var(--background-color-0);
}

#root,
#__next,
app-root {
  isolation: isolate;
}

p-breadcrumb .p-breadcrumb {
  background: transparent !important;
  padding: 0 !important;
  font-size: .75rem !important;

  .p-icon {
    height: .5rem !important;
    width: .5rem !important;
  }
}

p-select .p-select-option {
  padding: 0.25rem 0.625rem;
  font-size: 0.75rem;
}