@use 'variables' as *;

@import "primeicons/primeicons.css";

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ::after,
  ::before {
    box-sizing: inherit;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: normal;
  color: var(--p-text-color, red);
  background-color: var(--background-color-0);
}

#root,
#__next,
app-root {
  isolation: isolate;
}

p-breadcrumb .p-breadcrumb {
  background: transparent !important;
  padding: 0 !important;
  font-size: .75rem !important;

  .p-icon {
    height: .5rem !important;
    width: .5rem !important;
  }
}

// InputGroup addon padding alignment
p-inputgroup-addon {
  padding-inline: var(--p-inputtext-padding-x) !important;
}