:root {
  --background-color-0: var(--p-surface-0);
  --background-color-50: var(--p-surface-50);
  --background-color-100: var(--p-surface-100);
  --background-color-200: var(--p-surface-200);
  --background-color-300: var(--p-surface-300);
  --background-color-400: var(--p-surface-400);
  --background-color-500: var(--p-surface-500);
  --background-color-600: var(--p-surface-600);
  --background-color-700: var(--p-surface-700);
  --background-color-800: var(--p-surface-800);
  --background-color-900: var(--p-surface-900);
  --background-color-950: var(--p-surface-950);

  --primary-color-50: var(--p-primary-50);
  --primary-color-100: var(--p-primary-100);
  --primary-color-200: var(--p-primary-200);
  --primary-color-300: var(--p-primary-300);
  --primary-color-400: var(--p-primary-400);
  --primary-color-500: var(--p-primary-500);
  --primary-color-600: var(--p-primary-600);
  --primary-color-700: var(--p-primary-700);
  --primary-color-800: var(--p-primary-800);
  --primary-color-900: var(--p-primary-900);
  --primary-color-950: var(--p-primary-950);
}

.dark-mode:root {
  --background-color-0: var(--p-surface-950);
  --background-color-50: var(--p-surface-900);
  --background-color-100: var(--p-surface-800);
  --background-color-200: var(--p-surface-700);
  --background-color-300: var(--p-surface-600);
  --background-color-400: var(--p-surface-500);
  --background-color-500: var(--p-surface-400);
  --background-color-600: var(--p-surface-300);
  --background-color-700: var(--p-surface-200);
  --background-color-800: var(--p-surface-100);
  --background-color-900: var(--p-surface-50);
  --background-color-950: var(--p-surface-0);

  --primary-color-50: var(--p-primary-950);
  --primary-color-100: var(--p-primary-900);
  --primary-color-200: var(--p-primary-800);
  --primary-color-300: var(--p-primary-700);
  --primary-color-400: var(--p-primary-600);
  --primary-color-500: var(--p-primary-500);
  --primary-color-600: var(--p-primary-400);
  --primary-color-700: var(--p-primary-300);
  --primary-color-800: var(--p-primary-200);
  --primary-color-900: var(--p-primary-100);
  --primary-color-950: var(--p-primary-50);
}