.context-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.context-item-picture {
    height: 96px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-200);
}

.context-item-picture i {
    font-size: 2rem;
    color: var(--background-color-600);
}

.context-item-name {
    font-size: .75rem;
    font-weight: 600;
}