.field {
    display: flex;
    flex-direction: column;
    gap: .125rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
    }

    &__label {
        font-size: 0.75rem;
        font-weight: 500;
        color: var(--text-color);
    }

    &__required {
        color: var(--p-red-500);
        margin-left: 0.25rem;
    }

    &__hint {
        font-size: 0.625rem;
        font-weight: 400;
        color: var(--p-text-muted-color);
    }

    &__content {
        width: 100%;
    }

    &__error {
        font-size: 0.75rem;
        color: var(--p-red-500);
    }

    &.has-error {
        ::ng-deep input {
            border-color: var(--p-red-500);

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(var(--p-red-500-rgb), 0.25);
            }
        }
    }
}
