<div class="field" [class.has-error]="error()">
    @if (label()) {
        <div class="field__header">
            <label class="field__label">
                {{ label() }}
                @if (hint() === 'required') {
                    <span class="field__required">*</span>
                }
            </label>
            @if (hintLabel()) {
                <span class="field__hint">{{ hintLabel() }}</span>
            }
        </div>
    }
    <div class="field__content">
        <ng-content />
    </div>
    @if (error()) {
        <span class="field__error">{{ error() }}</span>
    }
</div>
