.select-field {
    width: 100%;
}

.select-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;

    &__label {
        flex: 1;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        font-size: 0.625rem;
        background-color: var(--background-color-200);
        color: var(--p-text-muted-color);
        transition: all 0.2s;

        &--selected {
            background-color: var(--p-primary-color);
            color: white;
        }
    }
}
