.agent-item {
    &__header {
        &__name {
            margin-left: .25rem;
            font-size: .875rem;
            font-weight: 600;
            color: var(--background-color-700);
        }

        &__reference {
            margin-top: .25rem;
            font-size: .625rem;
            color: var(--p-text-muted-color);
        }
    }

    &__description {
        min-height: 17.75px;
        font-size: .75rem;
        color: var(--background-color-600);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
