.icon-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--bg-color, var(--background-color-200));

    i {
        font-size: .625rem;
        color: var(--icon-color, var(--background-color-500));
    }

    // Status variant (with semi-transparent background like flow-item)
    &--status {
        position: relative;
        background-color: transparent;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 50%;
            background-color: var(--icon-color, var(--p-gray-400));
            opacity: .15;
        }

        i {
            position: relative;
        }
    }
}
