<div class="page-header__wrapper">
    <div class="page-header__titles">
        <span class="page-header__title">{{ label() }}</span>
        @if (description()) {
            <span class="page-header__description">{{ description() }}</span>
        }
    </div>
    @if (tabs()?.length) {
        <div class="page-header__tabs">
            @for (tab of tabs(); track tab.id) {
                <p-button [label]="tab.label" [severity]="isActive(tab) ? 'primary' : 'secondary'" rounded
                    size="small" (onClick)="selectTab(tab)" />
            }
        </div>
    }
</div>