<div class="page-header__wrapper">
    <div class="page-header__titles">
        <div class="page-header__secondary-action">
            <div class="page-header__title-group">
                @if (backAction()) {
                    <p-button icon="fa-regular fa-angle-left" severity="secondary" text rounded
                        size="small" (onClick)="backAction()!()" />
                }
                <span class="page-header__title">{{ label() }}</span>
            </div>
            <p-button *ngIf="secondaryAction()" [label]="secondaryAction()?.label" [icon]="secondaryAction()?.icon" severity="secondary"
                text rounded size="small" (onClick)="secondaryAction()?.command()" />
        </div>
        @if (description()) {
            <span class="page-header__description">{{ description() }}</span>
        }
    </div>
    @if (tabs()?.length) {
        <div class="page-header__tabs">
            @for (tab of tabs(); track tab.id) {
                <p-button [label]="tab.label" [severity]="isActive(tab) ? 'primary' : 'secondary'" rounded
                    size="small" (onClick)="selectTab(tab)" />
            }
        </div>
    }
</div>