.page-header {
    width: 100%;

    &__wrapper {
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__secondary-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        line-height: 1.375;
    }

    &__title-group {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    &__description {
        font-size: 0.875rem;
        color: var(--p-text-muted-color);
    }

    &__tabs {
        display: flex;
        gap: 0.5rem;
    }
}