.layout-wrapper {
  height: 100svh;
  width: 100svw;
  display: flex;
}

.layout-page {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-content {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--background-color-0);
  overflow-x: hidden;
  overflow-y: auto;
}

::ng-deep .layout-content>*:not(router-outlet) {
  min-height: 100%;
  min-width: 100%;
}