.main-layout {
    display: flex;
    min-height: 100vh;

    &__sidebar {
        width: 250px;
        border-right: 1px solid var(--surface-border);
    }

    &__content {
        flex: 1;
        padding: 1.5rem;
    }
}
