<div class="main-layout">
    @if (userHasOrganizations() && !userHasContext())
    {
    <app-context-switcher />
    }
    @else{
    <aside class="main-layout__sidebar" [class.main-layout__sidebar--collapsed]="sidebarService.collapsed()">
        <app-sidebar />
    </aside>
    <div class="main-layout__content">
        <div class="main-layout__content__header">
            <app-header />
        </div>
        <div class="main-layout__content__main">
            <router-outlet />
        </div>
    </div>
    }
</div>