.context-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.context-item-picture {
    height: 96px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-200);
}

.context-item-picture i {
    font-size: 2rem;
    color: var(--background-color-500);
}

.context-item {
    &_names {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        line-height: 1.2;
    }

    &__name {
        font-size: .75rem;
        font-weight: 600;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    &__subname {
        max-width: calc(96px + 2 * .2rem);
        min-height: 15px;
        font-size: .625rem;
        color: var(--p-text-muted-color);
        user-select: none;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}