.toggle-switch-field {
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 0.5rem;

    &__label {
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--text-color);
        cursor: pointer;
        user-select: none;
    }
}
