.trash {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__toolbar {
        padding: 0 1.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: .75rem;

        &__header {
            padding: 0 1.5rem;
        }

        &__grid {
            padding: 0 1.5rem;
        }
    }
}

.table-folder-name,
.table-file-name {
    display: flex;
    align-items: center;
    gap: .5rem;

    i {
        font-size: .875rem;
        color: var(--gray-color-400);
    }
}

.table-file-name i {
    color: var(--p-text-muted-color);
}

.table-actions {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: var(--p-text-muted-color);
    font-size: .8125rem;
}
