<div class="field">
    @if (label()) {
        <label class="field__label">{{ label() }}</label>
    }
    <textarea
        pTextarea
        [value]="value"
        [placeholder]="placeholder()"
        [rows]="rows()"
        [disabled]="disabled()"
        (input)="onInput($event)"
        (blur)="onBlur()"
        pSize="small"
        class="field__textarea"
        [style.resize]="resize()"
    ></textarea>
    @if (hint()) {
        <small class="field__hint">{{ hint() }}</small>
    }
</div>
