.trash-folder-item {
    &__wrapper {
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: .625rem .75rem;
        border-radius: .5rem;
        background-color: var(--background-color-100);
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: .5rem;
        background-color: var(--gray-color-100);
        color: var(--gray-color-400);
        font-size: 1rem;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: .125rem;
        min-width: 0;
    }

    &__name {
        font-size: .8125rem;
        font-weight: 600;
        color: var(--background-color-700);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__meta {
        display: flex;
        align-items: center;
        gap: .75rem;

        &__path {
            display: flex;
            align-items: center;
            gap: .25rem;
            font-size: .6875rem;
            color: var(--p-text-muted-color);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 200px;

            i {
                font-size: .625rem;
                flex-shrink: 0;
            }
        }
    }

    &__days {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .25rem .5rem;
        border-radius: .375rem;
        background-color: var(--background-color-200);

        &__count {
            font-size: .875rem;
            font-weight: 600;
            color: var(--background-color-600);
        }

        &__label {
            font-size: .5rem;
            text-transform: uppercase;
            color: var(--gray-color-600);
        }

        &--warning {
            background-color: var(--red-color-100);
            
             .trash-folder-item__days {
                &__count {
                    color: var(--red-color-500);
                }
                &__label {
                    color: var(--red-color-600);
                }
             }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: .25rem;
    }
}
