.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    &__title {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}
