.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &__title {
            font-size: .875rem;
            font-weight: 600;
            padding-bottom: .25rem;
            border-bottom: 1px solid var(--surface-border);
        }
    }

    textarea,
    p-select {
        width: 100%;
    }
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
