.flow-item {
    &__header {
        &__info {
            display: flex;
            align-items: baseline;
            gap: .375rem;
        }

        &__name {
            font-size: .875rem;
            font-weight: 600;
            color: var(--background-color-700);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__reference {
            font-size: .625rem;
            color: var(--p-text-muted-color);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__badge {
            font-size: .625rem;
            font-weight: 600;
            padding: .125rem .5rem;
            border-radius: 1rem;
            background-color: var(--p-primary-100);
            color: var(--p-primary-600);
            white-space: nowrap;
        }
    }

    &__description {
        min-height: 17.75px;
        font-size: .75rem;
        color: var(--background-color-600);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
