<app-entity-card [menuItems]="menuItems()" [dashed]="flow().isTemplate" [clickable]="true" (cardClick)="onClick()">
    <ng-container headerLeft>
        <app-icon-badge icon="fa-solid fa-diagram-project" [iconColor]="statusColor()" [showStatus]="true" />
        <div class="flow-item__header__info">
            <div class="flow-item__header__name">{{ flow().name }}</div>
            @if (!flow().isTemplate) {
                <div class="flow-item__header__reference">{{ flow().reference }}</div>
            }
        </div>
        @if (flow().isTemplate) {
            <div class="flow-item__header__badge">Modèle</div>
        }
    </ng-container>

    <div body class="flow-item__description">
        {{ flow().description }}
    </div>

    <app-created-by footerLeft [data]="{ name: flow().createdBy.name, context: flow().createdBy.context }" />
    <app-created-at footerRight [date]="flow().createdAt" />
</app-entity-card>
