:host {
    position: relative;
    display: block;
    width: 232px;
    height: 100vh;
    background-color: var(--background-color-0);
    border-right: 1px solid var(--background-color-200);
    transition: width 0.3s ease;
    overflow: hidden;

    &.collapsed {
        width: 0;
        border-right: none;
    }

    &.collapsed .sidebar-trigger-wrapper {
        pointer-events: auto;
    }
}

.sidebar-wrapper {
    width: 232px;
    height: 100%;
}

.brand-container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-trigger-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 2rem;
    height: 100dvh;
    pointer-events: none;
    z-index: 100;
    display: flex;

    &:hover .sidebar-trigger {
        background-color: var(--background-color-950);
        opacity: .1;
    }
}

.sidebar-trigger {
    width: 1rem;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.sidebar-trigger-hint {
    width: 1rem;
    height: 100%;
}