<div class="sidebar-wrapper">
    <div class="brand-container">
        <app-brand />
    </div>
    <div>
        <app-sidebar-menu>
            <app-sidebar-menu-item label="Automatisation" icon="fa-duotone fa-solid fa-chart-diagram" route="/automation" />
            <app-sidebar-menu-item label="Documents" icon="fa-duotone fa-solid fa-folder" route="/documents" />
            <!-- <app-sidebar-menu-item label="Contacts" icon="fa-duotone fa-solid fa-address-book" route="/contacts" /> -->
            <app-sidebar-menu-item label="Équipes" icon="fa-duotone fa-solid fa-people-group" route="/teams" />
        </app-sidebar-menu>
    </div>
</div>
<div class="sidebar-trigger-wrapper">
    <div class="sidebar-trigger" (mouseenter)="onTriggerEnter()"></div>
    <div class="sidebar-trigger-hint" *ngIf="sidebarService.collapsed()"></div>
</div>