.sidebar-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;


    &__brand {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}