<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [style]="{ width: width() }"
  [styleClass]="'base-dialog ' + styleClass()">
  <ng-template #header>
    <div class="dialog-header">
      <div class="dialog-icon" [style.background-color]="iconBgColor">
        <i [class]="icon()" [style.color]="iconFgColor"></i>
      </div>
      <div class="dialog-title-wrapper">
        <h3 class="dialog-title">{{ title() }}</h3>
        @if (subtitle()) {
          <p class="dialog-subtitle">{{ subtitle() }}</p>
        }
      </div>
    </div>
  </ng-template>

  <div class="dialog-content">
    <ng-content></ng-content>
  </div>

  @if (showFooter()) {
    <ng-template #footer>
      <div class="dialog-footer">
        <p-button
          [label]="cancelLabel()"
          severity="secondary"
          size="small"
          text
          (click)="close()" />
        <p-button
          [label]="submitLabel()"
          size="small"
          [disabled]="!canSubmit()"
          [loading]="loading()"
          (click)="onSubmit()" />
      </div>
    </ng-template>
  }
</p-dialog>
