.folder-item {
    &__wrapper {
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: .625rem .75rem;
        border-radius: .5rem;
        background-color: var(--background-color-100);
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: .5rem;
        background-color: var(--primary-color-100);
        color: var(--primary-color-500);
        font-size: 1rem;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: .125rem;
        min-width: 0;
    }

    &__name {
        font-size: .8125rem;
        font-weight: 600;
        color: var(--background-color-700);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__meta {
        display: flex;
        align-items: center;
        gap: .75rem;

        &__item {
            display: flex;
            align-items: center;
            gap: .25rem;
            font-size: .6875rem;
            color: var(--p-text-muted-color);

            i {
                font-size: .625rem;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
    }
}
