.table-toolbar {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {
            flex: 1;

            input {
                width: 30%;
                max-width: 368px;
                min-width: 256px;
            }
        }
    }
}