.table-toolbar {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {
            flex: 1;
            display: flex;
            align-items: center;

            .filters-wrapper {
                display: contents;
            }

            .actions {
                display: flex;
                align-items: center;
            }

            input {
                width: 30%;
                max-width: 368px;
                min-width: 256px;
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

::ng-deep .filters-wrapper p-select {
    width: 128px;
}